.service_header_name {
  padding: 20px 80px;
  display: inline-block;
  border-bottom: 1px solid #1e1e1e;
}
/* Contact us main */
.contactus_main_container {
  background-color: #b7e3eb;
  padding: 20px 0 40px;
}
/* contact us section */
.contactus_main_container .contactus_section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 33px;
}
.contactus_main_container .contactus_section .contactus_item {
  width: 30%;
}
.contactus_section .contactus_item .contactus_item_icon {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.contactus_section .contactus_item .contact_head {
  margin: 20px 0;
  text-align: center;
}
.contactus_section .contactus_item .location_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  margin-bottom: 10px;
}

/* Media query for contact-us-item */
@media screen and (max-width: 480px) {
  .contactus_main_container .contactus_section .contactus_item {
    width: 100%;
  }
  .contactus_main_container .contactus_section {
    gap: 25px;
  }
}
